/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
} */ 
:root {
    --clr-neutral-900: black;
    --clr-neutral-100: white;
    --clr-accent-400: rgb(119, 0, 255);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    width: 100vw;
    float: left;
    background-image: url(../pics/background1.JPG);
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;
    

}

/* div {
    border: thin solid green;
}  */

/* .header {
    position: fixed;
    top: 0;
    left: 1em;
    float: left;
    height: 6%;
    width: 98.8vw;
    
} */

.center {
    display: grid;
    height: 80%;
    width: 99.8vw;
    place-items: center;
    line-height: 1.6;
    color: aliceblue;
    opacity: 0.9;    
}

.card.c1 {
    color: var(--clr-neutral-100);
    background-image: url(../pics/mod1.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;

    transition: transform 500ms ease;
}

.card.c2 {
    color: var(--clr-neutral-100);
    background-image: url(../pics/mod2.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;
    
    transition: transform 500ms ease;
}

.card.c3 {
    color: var(--clr-neutral-100);
    background-image: url(../pics/mod3.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;
    
    transition: transform 500ms ease;
}

.card.c4 {
    color: var(--clr-neutral-100);
    background-image: url(../pics/mod4.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;
    
    transition: transform 500ms ease;
}

.card.c5 {
    color: var(--clr-neutral-100);
    background-image: url(../pics/);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;
    
    transition: transform 500ms ease;
}

.card.c6 {
    color: var(--clr-neutral-100);
    background-image: url(../pics/);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;
    
    transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(65%);
    transition: transform 500ms ease;
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: var(--clr-accent-400);
    
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255 255 255 / 0.85)
}

@media (hover) {
    .card-content {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .card:focus-within .card-content {
        transition-delay: 0ms;
    }

    .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opasity 500ms linear;
    }

    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
        opacity: 1;
        transition-delay: 1000ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }

}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
    width: max-content;
}

.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
}

.footer {
    /* display: flex;
    justify-content: center;
    align-items: center; */ 
    float: left;
    position: fixed;
    bottom: 0.15em;
    left: 1em; 
    height: 5%;
    width: 99.8vw;    
    color: aliceblue;
    /* border: thin solid green; */
}

/* .navbar-light {

} */

/* .bg-light {

} */

.smedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    bottom: 0.5em;
}

.fa:hover {
    opacity: 0.75; 
} 

.list-unstyled {
	position: relative;
    display: flex;
    
}
.list-inline li {
	position: relative;
    list-style: none;
    margin: 5px;
    /* display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px; */
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;

}

.social-icons .fa {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.social-icons.icon-rounded .fa{
	border-radius:5px;
}

 .social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.3) rotate(360deg);
	-moz-transform: scale(1.3) rotate(360deg);
	-ms-transform: scale(1.3) rotate(360deg);
	-o-transform: scale(1.3) rotate(360deg);
	transform: scale(1.3) rotate(360deg); 
} 

.social-icons .fa-facebook-square{
    background-color:#1877f2;
}

.social-icons .fa-instagram{
    background-color:#c32aa3;
}

.social-icons .fa-twitch{
    background-color:indigo;
}

.social-icons .fa-twitter-square{
    background-color:#1da1f2;
} 

.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}

/* .social-icons .fa-whatsapp{
    background-color:#25d366;
}  */


 @media (max-width: 1320px) {
     /* kleinere Bildschirme  */
    .footer {
        float: left;
        position: fixed;
        bottom: 0.6em;
        left: 1em; 
        height: 5%;
        width: 99.8vw;    
        color: aliceblue;
    }
}

@media (min-width: 1320px) {
     /* Mittlere Bildschirme  */
    .footer {
        float: left;
        position: fixed;
        bottom: 0.6em;
        left: 1em; 
        height: 5%;
        width: 99.8vw;    
        color: aliceblue;
    }
}

@media (min-width: 1920px) {
     /* große Bildschirme  */
    .footer {
        float: left;
        position: fixed;
        bottom: 0.15em;
        left: 1em; 
        height: 5%;
        width: 99.8vw;    
        color: aliceblue;
    }
} 

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms
        !important;
        animation-iteration-count: 1
        !important;
        transition-duration: 0.01ms
        !important;
        scroll-behavior: auto !important;
        transition-delay: 0 !important;
    }
}
